<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<clear />
			<add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
		<httpPlatform processPath="node" arguments="./server/dist/index.js" startupTimeLimit="20" startupRetryCount="1" stdoutLogEnabled="true" stdoutLogFile=".\log.txt">
			<environmentVariables>
				<environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
				<environmentVariable name="NODE_ENV" value="production" />
				<environmentVariable name="DATABASE_URL" value="__DATABASE_URL__" />
				<environmentVariable name="JWT_SECRET" value="__JWT_SECRET__" />
				<environmentVariable name="CLIENT_ORIGIN" value="__CLIENT_ORIGIN__" />
				<environmentVariable name="VAPID_PUBLIC_KEY" value="BJmQ2HKIdAjXvpeG21GVfgYvl2B9g2BcRnhN69-VaxH_xQL_zu2o2QHHJZijpC0gEsJ9HXFF3e9gvOS28A3iV48" />
				<environmentVariable name="VAPID_PRIVATE_KEY" value="23YNRznbJinARpo9u5ifJc7O5ckasZCFQXIuwLpp2y0" />
				<environmentVariable name="VAPID_MAILTO" value="mailto:admin@ptrainer.com.ar" />
			</environmentVariables>
		</httpPlatform>
	</system.webServer>
</configuration>
